#add-employee{
    margin-top: 10px;
    background-color: #229954;
}

#datepicker  {
  margin-left: 20%; 
}

.event a {
  background-color: #5FBA7D !important;
  color: #ffffff !important;
}

.datetext{
  width: 170px;
  border-radius: 4px;
  height: 38px;
  border: 2px solid #ddd;
  padding-left: 10px;
}
